@import "tailwindcss";

html {
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    font-family: 'Montsserat', sans-serif;
}

@font-face {
    font-family: 'Montsserat';
    src: url('./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

.intro {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 60px 0;
    background-image: url(./assets/img/background/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media (max-width: 450px) {
    .intro {
        background-image: none;
    }
}